.tube {
  width: 98%;
  padding: 1vh;
  background-color: rgba(30, 30, 30, 0.5);
  border-radius: 1vw;
  border: double 0.5vh #aaa;
  overflow: hidden;
  align-self: end;
}

.coin-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
